[submodule "deps/libvaxis"]
	path = deps/libvaxis
	url = git@github.com:Cloudef/libvaxis.git
[submodule "deps/zig-lsp-codegen"]
	path = deps/zig-lsp-codegen
	url = git@github.com:Cloudef/zig-lsp-codegen.git
[submodule "deps/ztd"]
	path = deps/ztd
	url = git@github.com:Cloudef/ztd.git
[submodule "deps/zig-aio"]
	path = deps/zig-aio
	url = git@github.com:Cloudef/zig-aio.git
